<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= day %> Task Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= day %> Task Board</h1>
    <div class="taskList">
      <% tasks.forEach(function(item) { %>
      <a href="<%= item.getURL() %>" class="taskContainer">
        <p><%=item.task %></p>
        <small>by: <%=item.author %><br /><%= item.getFormattedDate() %></small>
      </a>
      <% }); %>
    </div>
    <a href="/new" class="btn">New task</a>
    <%- include('footer') %>
  </body>
</html>
